<div class= "button-plus">
<%= link_to new_meeting_path, style: "text-decoration: none;" do %>
  <p style="
    font-size: 60px;
    color: white;
    margin: 0;">+</p>
    <% end %>
</div>

<div class="container mt-5">
  <div class="row justify-content-evenly g-3 mt-3">
    <% @meetings.each do |meeting| %>
      <%= link_to meeting_path(meeting), class: "text-decoration-none" do %>
        <div class="document-affichage">
          <div class="document-icon">
            <i class="fa-regular fa-handshake"></i>
            </div>
          <div class="document-name">
            <p><%= meeting.title %></p>
            <p style="font-size: 11px"><i><%= l(meeting.date, format: :long) %></i></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
