
<% if @meeting.over? %>

  <%= render "meetings/over_show", meeting: @meeting %>

<% else %>

  <%= turbo_stream_from dom_id(@meeting) %>

  <div data-controller="meeting"
    data-meeting-is-admin-value="<%= current_user.status %>">
    <%= render "meetings/show", meeting: @meeting, decision: @decision %>
  </div>

<% end %>
