.sent-message {
  text-align: right;
  margin-left: auto;
  max-width: 70%;
  background-color: #d1e7dd;
  padding: 10px;
  border-radius: 10px;
}

.received-message {
  background-color: #e9ecef;
  color: black;
  max-width: 70%;
}
