<h1>Liste des décisions</h1>

<ul>
  <% @decisions.each do |decision| %>
    <li>
      <p><%= decision.description %> | <%= link_to 'Decision details', decision_path(decision) %></p>
      <p><%= decision.status %></p>

    </li>
  <% end %>
</ul>
