<h1>Liste des décisions</h1>
<div class="cards-container">
  <div class="row">
    <div class="col">
      <% @decisions.each do |decision| %>
        <div class="card">
          <h1 class="card-title"><%= decision.title %></h1>
          <p class="card-body"><%= decision.status %></p>
          <%= link_to 'Modifier', edit_decision_path(decision) %> |
        </div>
      <% end %>
    </div>
  </div>
</div>
