<h1>Liste des décisions</h1>
  <%= link_to 'Ajouter uneouvelle décision', new_meeting_decision_path %>
<ul>
  <% @decisions.each do |decision| %>
    <li>
      <p><%= decision.title %></p>
      <p><%= decision.status %></p>
      <%= link_to 'Modifier', edit_decision_path(decision) %> |
    </li>
  <% end %>
</ul>
