<h1>Décisions</h1>
<p><strong>Description:</strong> <%= @decision.description %></p>
<p><strong>Statut:</strong> <%= @decision.status %></p>
<%= link_to 'Modifier', edit_decision_path(@decision) %>
<%= link_to 'Retour au meeting', meeting_path(@decision.meeting) %>
