<%= turbo_stream.replace(dom_id(@decision)) do %>
  <% if @decision.vote_of(current_user).value %>
    <h3 class="text">✅ Vous avez voté "pour".</h3>
  <% else %>
    <h3 class="text">✅ Vous avez voté "contre".</h3>
  <% end %>

  <p><em>Le vote est toujours en cours</em></p>

  <%#= render "decisions/result", decision: @decision %>
<% end %>
