<div class="header">
  <%= link_to root_path, class: "text-decoration-none" do %>
    <%= image_tag "logo.png" %>
  <% end %>
  <h5 style = "text-align: justify; padding-right: 15px;"><em><%= title %></em></h5>
</div>
