<div class="container mt-5">
   <div class="row justify-content-center">
    <h1 class="text-center mb-4 col-12">Mes documents</h1>
  </div>
      <%= link_to "Add a document", new_document_path, class: "btn btn-success" %>
    </div>
  </div>
    <% if @documents.empty? %>
      <div class="alert alert-info" style="max-width: 350px; margin: auto;">
        <h5 class="text-center">Aucun document</h5>
        <p class="mt-5 text-left">Ajouter un document</p>
      </div>
    <% else %>
      <% @documents.each do |document| %>
        <div class="col-md-4 d-flex justify-content-center">
          <div class="document-card">
            <%= cl_image_tag document.file.key, class: "d-block w-100" if document.file.attached? %>
            <div class="card-body text-center">
              <%= link_to "See the document", document_path(document), class: "btn btn-primary mt-2" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
