.primary-btn {
  background-color: #fe6363;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  display: inline-block;
  border: none;
  outline: none;
}
.primay-btn:hover {
  background-color: #358F80;
  transform: translateY(-2px);
}

.primary:focus {
  outline: none;
}


.secondary-btn {
  background-color: #f1ece6;
  color: #358F80;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  display: inline-block;
  border: 2px solid #358F80;
  outline: none;

}

.secondary-btn:hover {
  background-color: #f1ece6;
  transform: translateY(-2px);
}


.show-btn {
  background-color: #fe6363;
  color: white;
  padding: 11px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  display: inline-block;
  border: none;
  outline: none;
  width: 100%;
}

.btn-xs {
  padding: 0.15rem 0.75rem;
}

.btn-vote {
  background-color: #358F80;
  color: #ffff;
  padding: 6px 28px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
  display: inline-block;
  border: 2px solid #358F80;
  outline: none;
}
