.card {
  background: #f1ece6;
  border-radius: 20px !important;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 220px;
  font-family: Arial, sans-serif;
}

.card-header {
  background: #358F80;
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 24px;
  border-radius: 50px;
  text-align: center;

}
.card-body {
  padding: 24px;
}
