.modal-dialog .modal-content {
  border-radius: 15px;
  background: #f1ece6;
}

.modal-header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #358F80;
  color: white;
}

.modal-btn {
  background-color: transparent;
  border: none;
}
