// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.header {
  background-size: cover;
  margin-bottom: 50px;
  background-position: top center;
  height: 150px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
  border-radius: 122px 34px 260px 260px / 0px 0px 100px 100px;
  justify-content: center;
  h5 {
    position: absolute;
  }
}

.logo {
  position: absolute;
  left: 50%;
  top: -1%;
  transform: translate(-50%);
  height: 60px;
  img {
    width: 100%;
    height: 100%;
  }

}

body {
  background-color: #f1ece6 !important;
}

h5 {
  color: #036666;
}
