// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "@fortawesome/fontawesome-free/css/all.css";




body {
  background-color: #f1ece6 !important;
}

h5, h4 {
  color: #036666;
}

.page-content {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  overflow: scroll;
  // .header {
  //   flex-shrink: 0;
  // }
  // .container {
  //   flex-grow: 1;
  // }
}

p {
  color: rgb(71, 67, 67);
}
